<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-image: url("{% static '../static/images/bg.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
      }
      @page {
        size: 7in 9.25in;
        margin: 27mm 16mm 27mm 16mm;
      }
    </style>
  </head>
  <body>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <div class="bg-white rounded-3 p-3">
          <div class="text-center">
            <h3 style="font-family: 'Anton', sans-serif; color: #123512">OFFICIAL TIME</h3>
          </div>
          <form action="">
            <div class="d-flex align-items-center mx-3">
              <table class="table table-responsive text-center">
                <thead>
                  <th>Day</th>
                  <th colspan="2">AM</th>
                  <th colspan="2">PM</th>
                </thead>
                <tr>
                  <td></td>
                  <td class="fw-bold">Arrival</td>
                  <td class="fw-bold">Departure</td>
                  <td class="fw-bold">Arrival</td>
                  <td class="fw-bold">Departure</td>
                </tr>
                <tr>
                  <td class="fw-bold">Monday</td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                </tr>
                <tr>
                  <td class="fw-bold">Tuesday</td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                </tr>
                <tr>
                  <td class="fw-bold">Wednesday</td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                </tr>
                <tr>
                  <td class="fw-bold">Thursday</td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                </tr>
                <tr>
                  <td class="fw-bold">Friday</td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                </tr>
                <tr>
                  <td class="fw-bold">Saturday</td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                </tr>
                <tr>
                  <td class="fw-bold">Sunday</td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                </tr>
              </table>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="bg-white rounded-3 p-3">
          <div class="text-center">
            <h3 style="font-family: 'Anton', sans-serif; color: #123512">OVERLOAD</h3>
          </div>
          <form action="">
            <div class="d-flex align-items-center mx-3">
              <table class="table table-responsive text-center">
                <thead>
                  <th>Day</th>
                  <th colspan="2">AM</th>
                  <th colspan="2">PM</th>
                </thead>
                <tr>
                  <td></td>
                  <td class="fw-bold">Arrival</td>
                  <td class="fw-bold">Departure</td>
                  <td class="fw-bold">Arrival</td>
                  <td class="fw-bold">Departure</td>
                </tr>
                <tr>
                  <td class="fw-bold">Monday</td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                </tr>
                <tr>
                  <td class="fw-bold">Tuesday</td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                </tr>
                <tr>
                  <td class="fw-bold">Wednesday</td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                </tr>
                <tr>
                  <td class="fw-bold">Thursday</td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                </tr>
                <tr>
                  <td class="fw-bold">Friday</td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                </tr>
                <tr>
                  <td class="fw-bold">Saturday</td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                </tr>
                <tr>
                  <td class="fw-bold">Sunday</td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                  <td><input type="time" class="form-control" /></td>
                </tr>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
